@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-family: sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.background {
    background-color: #ff7260;
}

.dinner {
    background-color: #9BD7D5;
    padding-bottom: 2em;
    border-radius: 10px;
    margin: 2em;
    box-shadow: 1px 1px 1px 1px #888888;
    max-width: 38em;
}

.title {
    text-align: center;
    color: #505050;
    padding-top: 2em;
    padding-bottom: 2em;
    text-transform: uppercase;
}

.btn {
    background-color: #FFF5C3;
    text-decoration: none;
    padding: 1em;
    border-radius: 100%;
    display: inline-block;
    margin: 0.5em;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #DEDBA7;
    box-shadow: 1px 1px 1px #888888;
}

.btn i {
    vertical-align: middle;
    font-size: 2em;
    color: #505050;   
}

.hvr-grow:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
    




